In [2]:
%run "..\..\Startup_py3.py"

import h5py
import pandas as pd

# load old codebook

In [4]:
ctp13_codebook_filename = r'\\10.245.74.212\Chromatin_NAS_2\Chromatin_Libraries\CTP-13_brain-super-enhancers\Summary_tables\CTP13-mop_SE_1000.csv'
ctp13_codebook = pd.read_csv(ctp13_codebook_filename, )

In [6]:
ctp13_codebook

,name,id,NDB_376,NDB_578,NDB_400,NDB_533,NDB_568,NDB_464,NDB_466,NDB_431,...,NDB_608,NDB_460,NDB_563,NDB_592,NDB_368,NDB_436,NDB_629,NDB_604,chr,chr_order
0,1:9627926-9637875,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0.0
1,1:9799472-9811359,2,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,1.0
2,1:20920666-20929358,3,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,2.0
3,1:21522568-21534512,4,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,3.0
4,1:21732182-21745770,5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
961,X:101961397-101974103,987,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,X,2.0
962,X:136808741-136818926,988,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,X,3.0
963,X:140517829-140527051,989,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,X,4.0
964,X:167157164-167167452,990,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,X,5.0
965,X:169963295-170005197,991,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,X,6.0

In [ ]:
chr_2_size = {}

In [27]:
ctp13_codebook

,name,id,NDB_376,NDB_578,NDB_400,NDB_533,NDB_568,NDB_464,NDB_466,NDB_431,...,NDB_608,NDB_460,NDB_563,NDB_592,NDB_368,NDB_436,NDB_629,NDB_604,chr,chr_order
0,1:9627926-9637875,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0.0
1,1:9799472-9811359,2,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,1.0
2,1:20920666-20929358,3,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,2.0
3,1:21522568-21534512,4,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,3.0
4,1:21732182-21745770,5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
961,X:101961397-101974103,987,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,X,2.0
962,X:136808741-136818926,988,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,X,3.0
963,X:140517829-140527051,989,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,X,4.0
964,X:167157164-167167452,990,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,X,5.0
965,X:169963295-170005197,991,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,X,6.0

In [29]:
liftover_queries = []
flanking = 0 #50000
query_ctp13_file = r'\\10.245.74.212\Chromatin_NAS_2\Chromatin_Libraries\CTP-14_human_brain\mouse_brain_SE_liftover\ctp13_query.bed'
with open(query_ctp13_file, 'w') as _handle:

    for reg_name, reg_id in zip(ctp13_codebook['name'], ctp13_codebook['id']):
        _chr = reg_name.split(':')[0]
        _start, _end = reg_name.split(':')[1].split('-')
        _qstart = max(1, int(_start)-flanking)
        _qend = int(_end) + flanking
        _query = f'chr{_chr}\t{_qstart}\t{_qend}\tReg_{reg_id}\n'
        #print(_query)
        liftover_queries.append(_query)
        _handle.write(_query)
        #liftover_queries

## after generating this bed, manually submitted 
to website: https://genome.ucsc.edu/cgi-bin/hgLiftOver

with various thresholds

In [32]:
import re

In [64]:
result = re.match(r'^ctp13_(?P<threshold>[0-9]+)\.bed$', _fl, )

In [65]:
result.groupdict()

{'threshold': '09'}

In [68]:
liftover_folder = r'\\10.245.74.212\Chromatin_NAS_2\Chromatin_Libraries\CTP-14_human_brain\mouse_brain_SE_liftover'
liftover_bed_files = [os.path.join(liftover_folder, _fl) for _fl in os.listdir(liftover_folder) if re.match(r'^ctp13_(?P<threshold>[0-9]+)\.bed$', _fl, )]

In [83]:
rid_2_th[1]

0.0

In [107]:
rid_2_th = {_id:0. for _id in ctp13_codebook['id']}
rid_2_matched_region = {_id:"" for _id in ctp13_codebook['id']}
for _fl in liftover_bed_files:
    _threshold = int(re.match(r'^ctp13_(?P<threshold>[0-9]+)\.bed$', os.path.basename(_fl), ).groupdict()['threshold']) / 10
    _threshold_df = pd.read_csv(_fl, delimiter='\t', header=None, names=['Chr','Start','End','Name'])
    for _i,_row in _threshold_df.iterrows():
        _rid = int(_row['Name'].split('Reg_')[1])
        #rid_2_th[_rid] = max(_threshold, rid_2_th[_rid])
        if _threshold > rid_2_th[_rid]:
            rid_2_th[_rid] = _threshold
            rid_2_matched_region[_rid] = f"{_row['Chr']}:{_row['Start']}-{_row['End']}"

In [109]:
# convert into vector and append to codebook
threshold_vector = [rid_2_th[_rid] for _rid in ctp13_codebook['id']]
matched_region_vector = [rid_2_matched_region[_rid] for _rid in ctp13_codebook['id']]
ctp13_codebook['liftover_th'] = threshold_vector
ctp13_codebook['liftover_region'] = matched_region_vector

In [110]:
ctp13_codebook

,name,id,NDB_376,NDB_578,NDB_400,NDB_533,NDB_568,NDB_464,NDB_466,NDB_431,...,NDB_563,NDB_592,NDB_368,NDB_436,NDB_629,NDB_604,chr,chr_order,liftover_th,liftover_region
0,1:9627926-9637875,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0.0,0.5,chr8:66519362-66531809
1,1:9799472-9811359,2,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,1,1.0,0.3,chr8:66714213-66726183
2,1:20920666-20929358,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,2.0,0.5,chr6:52389307-52399201
3,1:21522568-21534512,4,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,3.0,0.6,chr6:73042766-73062113
4,1:21732182-21745770,5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,4.0,0.4,chr6:72850834-72860038
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
961,X:101961397-101974103,987,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,X,2.0,0.2,chrX:72027225-72039660
962,X:136808741-136818926,988,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,X,3.0,0.2,chrX:103768439-103772668
963,X:140517829-140527051,989,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,X,4.0,0.5,chrX:107682619-107690547
964,X:167157164-167167452,990,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,X,5.0,0.5,chrX:13013966-13025612
965,X:169963295-170005197,991,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,X,6.0,0.3,chrX:10447550-10526537

In [111]:
# save
ctp13_codebook.to_csv(r'\\10.245.74.212\Chromatin_NAS_2\Chromatin_Libraries\CTP-14_human_brain\mouse_brain_SE_liftover\liftover_ctp13_codebook.csv',
                      index=False)

In [15]:
# raw ref
mouse_combined_df = pd.read_excel(r'\\10.245.74.212\Chromatin_NAS_2\Chromatin_Libraries\CTP-13_brain-super-enhancers\combined_cell_type_SE.xlsx' )

In [26]:
query_combined_file = r'\\10.245.74.212\Chromatin_NAS_2\Chromatin_Libraries\CTP-14_human_brain\mouse_brain_SE_liftover\combined_se_query.txt'
with open(query_combined_file, 'w') as _handle:
    for _i, (_chr, _s, _e) in mouse_combined_df[['CHROM','START','STOP']].iterrows():
        
        query_region = f"{_chr}:{_s}-{_e}\n"
        _handle.write(query_region)
        #print(query_region)

## Liftover from human to mouse

In [113]:
human_se_folder = r'\\10.245.74.212\Chromatin_NAS_2\Chromatin_Libraries\CTP-14_human_brain\human_brain_promoter_enhancer\superenhancer'

human_combined_df = pd.read_csv(os.path.join(human_se_folder, r'hM1_combined_cell_type_SE.csv'))

In [114]:
human_combined_df

,REGION_ID,CHROM,START,STOP,NUM_LOCI,CONSTITUENT_SIZE,ATAC.bam,enhancerRank,isSuper,CELL_TYPE
0,1_ASC_peak_48170b_lociStitched,chr2,32916204,32916703,1,500,617968.3864,1,1,Astro
1,14_ASC_peak_57130a_lociStitched,chr21,8218047,8259866,14,7000,297370.7271,2,1,Astro
2,25_ASC_peak_57153_lociStitched,chr21,8391249,8472525,25,14000,192526.5888,3,1,Astro
3,24_ASC_peak_67886c_lociStitched,chr4,49091845,49154737,24,12000,134249.2632,4,1,Astro
4,18_ASC_peak_35914c_lociStitched,chr16,70681636,70771489,18,10500,99359.4474,5,1,Astro
...,...,...,...,...,...,...,...,...,...,...
7892,5_VLMC_peak_19781_lociStitched,chr19,2576167,2611512,5,2500,14908.5210,206,1,VLMC
7893,3_VLMC_peak_22622b_lociStitched,chr2,70132418,70142985,3,1500,14855.0886,207,1,VLMC
7894,4_VLMC_peak_29349_lociStitched,chr3,126982595,127002559,4,2000,14807.2988,208,1,VLMC
7895,3_VLMC_peak_28316b_lociStitched,chr3,46867502,46874985,3,1500,14801.3740,209,1,VLMC
7896,4_VLMC_peak_5853_lociStitched,chr10,86657312,86684723,4,2000,14749.8591,210,1,VLMC

In [126]:
query_human_se_file = os.path.join(human_se_folder, 'human_se_query.bed')

with open(query_human_se_file, 'w') as _handle:
    
    for _i, (_chr, _start, _end) in human_combined_df[['CHROM','START','STOP']].iterrows():
        
        _qstart = max(1, int(_start)-flanking)
        _qend = int(_end) + flanking
        _query = f'{_chr}\t{_qstart}\t{_qend}\tReg_{_i}\n'
        #print(_query)
        liftover_queries.append(_query)
        _handle.write(_query)
        #liftover_queries

### after manually submit, summarize:

In [127]:
liftover_bed_files = [os.path.join(human_se_folder, _fl) for _fl in os.listdir(human_se_folder) 
                      if re.match(r'^liftover_mm10_(?P<threshold>[0-9]+)\.bed$', _fl, )]

In [128]:
rid_2_th = {_id:0. for _id in human_combined_df.index}
rid_2_matched_region = {_id:"" for _id in human_combined_df.index}
for _fl in liftover_bed_files:
    _threshold = int(re.match(r'^liftover_mm10_(?P<threshold>[0-9]+)\.bed$', os.path.basename(_fl), ).groupdict()['threshold']) / 10
    _threshold_df = pd.read_csv(_fl, delimiter='\t', header=None, names=['Chr','Start','End','Name'])
    for _i,_row in _threshold_df.iterrows():
        _rid = int(_row['Name'].split('Reg_')[1])
        #rid_2_th[_rid] = max(_threshold, rid_2_th[_rid])
        if _threshold > rid_2_th[_rid]:
            rid_2_th[_rid] = _threshold
            rid_2_matched_region[_rid] = f"{_row['Chr']}:{_row['Start']}-{_row['End']}"

In [129]:
# convert into vector and append to codebook
threshold_vector = [rid_2_th[_rid] for _rid in human_combined_df.index]
matched_region_vector = [rid_2_matched_region[_rid] for _rid in human_combined_df.index]
human_combined_df['liftover_th'] = threshold_vector
human_combined_df['liftover_region'] = matched_region_vector

In [130]:
human_combined_df

,REGION_ID,CHROM,START,STOP,NUM_LOCI,CONSTITUENT_SIZE,ATAC.bam,enhancerRank,isSuper,CELL_TYPE,liftover_th,liftover_region
0,1_ASC_peak_48170b_lociStitched,chr2,32916204,32916703,1,500,617968.3864,1,1,Astro,0.0,
1,14_ASC_peak_57130a_lociStitched,chr21,8218047,8259866,14,7000,297370.7271,2,1,Astro,0.0,
2,25_ASC_peak_57153_lociStitched,chr21,8391249,8472525,25,14000,192526.5888,3,1,Astro,0.0,
3,24_ASC_peak_67886c_lociStitched,chr4,49091845,49154737,24,12000,134249.2632,4,1,Astro,0.0,
4,18_ASC_peak_35914c_lociStitched,chr16,70681636,70771489,18,10500,99359.4474,5,1,Astro,0.6,chr8:110646053-110725727
...,...,...,...,...,...,...,...,...,...,...,...,...
7892,5_VLMC_peak_19781_lociStitched,chr19,2576167,2611512,5,2500,14908.5210,206,1,VLMC,0.0,
7893,3_VLMC_peak_22622b_lociStitched,chr2,70132418,70142985,3,1500,14855.0886,207,1,VLMC,0.2,chr6:86472201-86480787
7894,4_VLMC_peak_29349_lociStitched,chr3,126982595,127002559,4,2000,14807.2988,208,1,VLMC,0.6,chr6:89344879-89363039
7895,3_VLMC_peak_28316b_lociStitched,chr3,46867502,46874985,3,1500,14801.3740,209,1,VLMC,0.8,chr9:110750648-110758958
7896,4_VLMC_peak_5853_lociStitched,chr10,86657312,86684723,4,2000,14749.8591,210,1,VLMC,0.7,chr14:34574004-34598147

In [132]:
human_combined_df.to_csv(os.path.join(human_se_folder, r'hM1_combined_cell_type_SE_with_liftover.csv'), index=None)